* {
    box-sizing: border-box;
}
body {
    background-color: #FFF;
    margin:0;
    font-family: 'Karla', sans-serif;
    min-height: 100%;
/*    text-align: center;*/
}
svg{
    cursor:pointer;
}
p{
    margin-bottom: 22px;
    margin-top: 0px;
}
ul,li {
    margin:0;
    padding:0;
    list-style: none;
}
.sitewrap{
/*    position: relative;*/
    width: 100%;
}
.sitecontainer{
    float:none;
    margin:0 auto;
    max-width:1440px;
    background: none;
}
.sitecontent{
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
}
#notsupport{
    background-color: #140F30;
    height: 100%;
    width: 100%;
    display: none;
    color: white;
    text-align: center
}
.smooth{-webkit-font-smoothing: antialiased;}
.spacer.s1{
    position: absolute;
    top: 50%;
}
.spacer.s2{
    position: absolute;
    top: 90%;
}
.spacer.s0{
    min-height:1px;
}
.gap{
    height: 230px;
    position: relative;
}
.menu{
    position: sticky;
    top:0;
    left:0;
    margin-left:auto;
    margin-right:auto;
    max-width: 1440px;
    visibility:hidden;
    z-index: 1;
    height:0;
    width: 100%;
    
    -webkit-transition: all 600ms ease-in;
    transition: all 600ms ease-in;
    opacity:0;
}

.menu-back{
    position: absolute;
    top:0;
    left:0;
    margin-left:auto;
    margin-right:auto;
    max-width: 1440px;
    width: 100%;
    height:100vh;
    background-color: rgb(20,15,48,90);
    
}
.menu.active{
    opacity:0.8;
    visibility: visible;
}
.menu-text{
    position: absolute;
    height: auto;
    margin-top:50vh;
    width: 100%;
    max-height: 1440px;
    text-align: center;
    z-index: 2;
    opacity: 1;
    transform: translateY(-155px)
}
.ids{
    font-size: 15px;
    color:#FF9681;
    font-family: "Montserrat";
    font-weight: 100;
    letter-spacing: 2px;
}
.nav{
    cursor: pointer;
    font-size:36px;
    font-weight: bold;
    color:white;
    opacity: 0.8;
    margin-bottom: 50px;
    
}
.nav a{
    text-decoration: none;
    color:white;
}
.nav:hover{
    opacity: 1;
}

#red-bg{
      position: sticky;
      top:0;
      left:0;
      margin-left:auto;
      margin-right:auto;
      max-width: 1440px;
      z-index: 8;
      width: 100%;
      height: 0;

      -webkit-transition: all 900ms;
      transition: all 900ms ;
      -webkit-transform: translateY(-100vh);
              transform: translateY(-100vh);  
}
#red-bg-back{
    position: absolute;
    height:100vh;
    background-color: #FF9681;
    top:0;
    left:0;
    width: 100%;
    max-width: 1440px;
}
    
#red-bg.active{
        -webkit-transform: translateY(100vh);
          transform: translateY(100vh);
}

.homepage {
/*    visibility: hidden;*/
    z-index: 0;
    height:100vh;
    max-height: 1024px;
    width:100%;
    overflow:auto;
    display: block;
    position: relative;
}
#homepageBG{
    position: absolute;
    width: 100%;
    background-color: #F3F3F3;
    border: none;
    height: 100%;
}
#homepage-sideBG{
        z-index:0;
        position: absolute; 
        width:40%;
        height:100%;
        right:0;
        top:0;
        background-color: #4EA3A8;
        animation:side-move 2s ease forwards;
}
.NotMoving{
    z-index: 1;
    position: -webkit-sticky;
    position:sticky;
    top:0;
    left:0;
    width:100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: 0;
}
.menubutton{
        z-index: 0;
        position:absolute;
        display: inline-block; 
        width:60px;
        height:59px;
        top:74px;
        right:60px;
        cursor:pointer;  
        -webkit-transition:all 0.3s;;
        transition:all 0.3s;
        border: 1px solid #e3e3e3;
        animation: menubutton-move 4s ease forwards; 
}
#logomain-svg{
    margin-left: 60px;
    margin-top: 50px;
}

.image{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow: hidden;
}
.resume{
   position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow: hidden; 
}

.portrait-box{
    box-shadow: 0px 00px 30px #000000;
    position:absolute;
    width:40%;
    height:auto;
    top:50px;
    bottom:50px;
    right:12vw;
    left:50%;
    background-position: center;
    animation:cover-move 4s ease forwards;
}
.homepage-text {
    position: absolute;
    display: inline-block;
    left:144px;
    bottom:33%;
    width:33.26%;
}
.homepage-text .title{
    margin-left:-4px;
    font-size: 70px;
    line-height: 1.2;
    transform:translateY(30px);
    animation:title-move 4s ease forwards;
}
.personal-title{
    margin-top: 10px;
    display: inline-block;
    font-size: 20px;
    color: #140F30;
    opacity: 1;
    letter-spacing: 0.8px;
    font-weight: 600;
    animation:title-move 4s ease forwards;
}
.homepage-text .context p{
    display: inline-block;
    width: 100%;
    font-size: 18px;
    color: #140F30;
    letter-spacing: 0.5px;
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 1;
    animation:context-move 4.1s ease forwards;
    line-height: 1.4;
}
.HPB{
  outline: none;
  text-align: center;
  cursor: pointer;
  font-weight:300;
  font-size:15px;
  color:#140F30;
  margin-right: 20px;
  padding:14px 30px;
  background-color: #F3F3F3;
  border-radius:40px;
  letter-spacing: 1.5px;
  margin-top: 10px;
  animation:HPB-move 4.2s ease forwards;    
  font-family: "Montserrat";  
  transition: background-color 0.3s;  
  border:2px solid #140F30;  
  text-decoration: none;
}
.social{
    position: absolute;
    display: block;
    left:60px;
    bottom:50px;
}
.horizonal{
    position: absolute;
    width: 100%;
    left:20;
    transform: translateY(-40px);
}
#logowhite{
    position: absolute;
    opacity: 0.8;
    left:60px;
    top: 15px;
}
#menuback{
    display: none;
    opacity: 0.95;
    width: 100vw;
    height: 50px;
    position: fixed;
    z-index: 0;
    background-color: #FF9681;
    top:0;
    z-index: 1;
}
.menubutton2{
    display:none;
    z-index: 10;
    position:fixed;
    width:30px;
    height:30px;
    top:10px;
    right:25px;
    cursor:pointer;  
    -webkit-transition:all 0.3s;;
    transition:all 0.3s;  
}
.pro-menu #logomain-svg{
    display: none;
    position:fixed;
    cursor:pointer; 
}
.timelinepage{
    z-index: -3;
    position: sticky;
    top:0vh;
/*    max-width: 1440px;*/
    margin:0 auto;
    width:100%; 
    height:230px;
    max-height: 1254px;
    background-color: #FF9681;
}
.phone-timeline{
    display: none;
}
.phone-timeline.timeline{
    height:20vh:
}
@keyframes side-move{
        0%{opacity: 1.0;right:-40%;}
        25%{opacity: 1.0;right:-40%;}
        50%{opacity: 1.0;right:0;}
        100%{opacity: 1.0;right:0;}
}

.part-1,.part-2,.part-3{ 
            content:"";
            position: absolute;
            -webkit-transition:all 0.3s;;
            background-color: white;
            border-radius: 20px;
            height: 3px;
            width: 30px;
            top: 49%;
            left: 50%;
            margin-left: -15px;
            transition:all 0.3s;       
}
.menubutton2 .part-1,.menubutton2 .part-2,.menubutton2 .part-3{ 
            content:"";
            position: absolute;
            -webkit-transition:all 0.3s;;
            background-color: white;
            border-radius: 20px;
            height: 1px;
            width: 25px;
            top: 49%;
            left: 50%;
            margin-right:0;
            transition:all 0.3s;  
}
.menubutton2 .part-1{
    margin-top: -9px;
}
.menubutton2 .part-3{
    margin-top: 9px;
}
@keyframes menubutton-move{
        0%{opacity: 0.0;margin-top: -53px;}
        25%{opacity: 0.0;margin-top: -53px;}
        50%{opacity: 1.0;margin-top: -23px;}
        100%{opacity: 1.0;margin-top: -23px;}
}
    
.menubutton:hover {    
      border-color: #FF9681;       
}

.part-1{
      margin-top: -10px;
}
.part-2 {
      margin-top: 0px;
}
.part-3 {
      margin-top: 10px;
}
    
.menubutton.menu-active {
      transform: rotate(90deg);
}
.part-1.p1-active{
     margin-top: 0px;
     transform: rotate(45deg);
     background-color:white;
}
.part-2.p2-active{
    margin-top: 0px;
    transform: rotate(45deg);
      background-color:white;
}
.part-3.p3-active{
     margin-top: 0px;
     transform: rotate(135deg);
     background-color:white;
}

.scroll-icon{
    opacity: 0.8;
    z-index: 3;
    text-align: center;
    bottom:15px;
    position:fixed;
    left: 50%;
    margin-left: -10px;
    margin-right: auto;
/*    animation-delay: 0;*/
    animation:scroll-show 2s ease forwards;
}
@keyframes scroll-show{
    0%{opacity: 0.0;transform:translateY(-10px);}
    20%{opacity: 0.0;transform:translateY(-10px);}
    40%{opacity: 1.0;transform:translateY(0px);}
    100%{opacity: 1.0;transform:translateY(0px);}
}
@keyframes scroll-move{
    0%{opacity: 0.5;transform:translateY(0px);}
    50%{opacity: 1.0;transform:translateY(5px);}
    100%{opacity: 0.5;transform:translateY(0px);}
}
.arrow{
    animation:scroll-move 2s infinite;
}



@keyframes titleback-move{
    0%{
        bottom:-100%;
                    }
    10%{
        bottom:100%;
                    }
    100%{
        bottom:100%;
                    }
      }
@keyframes title-move{
    0%{opacity: 0.0;transform:translateY(30px);}
    20%{opacity: 0.0;transform:translateY(30px);}
    40%{opacity: 1.0;transform:translateY(0px);}
    100%{opacity: 1.0;transform:translateY(0px);}
}

@keyframes context-move{
    0%{opacity: 0.0;transform:translateY(30px);}
    25%{opacity: 0.0;transform:translateY(30px);}
    35%{opacity: 0.8;transform:translateY(0px);}
    100%{opacity: 0.8;transform:translateY(0px);}
}

@keyframes HPB-move{
    0%{opacity: 0.0;transform:translateY(30px);}
    30%{opacity: 0.0;transform:translateY(30px);}
    40%{opacity: 1.0;transform:translateY(0px);}
    100%{opacity: 1.0;transform:translateY(0px);}
}
.HPB:hover{
    background-color: #FF9681;
    border-color: #FF9681;
    color:#F3F3F3;
}
.HPB:active {
  background-color: #FF8168;   
}

#social2{
    margin-top:30px ;
    position: relative;
    width: 20vw;
    display: inline-block;
}
#social2 li{
    margin-right: 30px;
}
.icons{
/*    list-style-type: none;*/
    text-align: center;
    position: relative;
    display: inline-block;
    margin-right: 40px;
    cursor: pointer;
    box-sizing: border-box;
    pointer-events: visible;
    
}

#vimeo{
    animation:icon-move 4s ease forwards;
}

#github{
    animation:icon-move 4s ease forwards;
    animation-delay: 100ms;
}
#blog{
    animation:icon-move 4s ease forwards;
    animation-delay: 200ms; 
}

@keyframes icon-move{
    0%{opacity: 0.0;transform:translateY(30px);}
    30%{opacity: 0.0;transform:translateY(30px);}
    40%{opacity: 1;transform:translateY(0px);}
    100%{opacity: 1;transform:translateY(0px);}
}


@keyframes cover-move{
    0%{opacity: 0.0;transform: translateX(-100px);}
    20%{opacity: 0.0;transform: translateX(-100px);}
    40%{opacity: 1.0;transform: translateX(0px);}
    100%{opacity: 1.0;transform: translateX(0px);}
}
@keyframes cover-move2{
    0%{opacity: 0.0;transform: translateY(-100px);}
    20%{opacity: 0.0;transform: translateY(-100px);}
    40%{opacity: 1.0;transform: translateY(0px);}
    100%{opacity: 1.0;transform: translateY(0px);}
}
.portrait-cover {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    pointer-events: none;
    object-fit: cover;
    z-index: 0;
    right:0;
    bottom: 0;
    display:block;
    max-width: 100%;
}

.lines1,.lines2,.lines3,.lines4,.lines5{
 height: 100%;
 border-left: 1px solid #140F30;
 position: absolute;
 opacity: 0.1;
}
.lines1,.glines1{
 left: 10%;
}
.lines2,.glines2,.pho-lines2{
 left: 30%;
}
.lines3,.glines3{
 left: 50%;
}
.lines4,.glines4,.pho-lines4{
 left: 70%;
}
.lines5,.glines5{
 left: 90%;
}

.pho-lines2,.pho-lines4{
 height: 100vh;
 border-left: 1px solid #140F30;
 position: absolute;
 opacity: 0.1;
}
.lines6{
     height: 116px;
     border-bottom: 1px solid white;
     border-top:0px;
     opacity: 1;
}
.circles{
    margin-top: -10px;
    position: absolute;
    width:100%;
    height: 0px;
}
.dots{
    border-radius: 50%;
    top: -10px;
    display: inline-block;
    height: 10px;
    width: 10px;
    background: white;
    margin-left: 12%;
    margin-right: 8%;
    text-align: center;
}
.years{
    margin-top: -30px;
    position: absolute;
    width:100%;
    height: 0px;
    color:#140f30;
    font-weight: 600;
    font-size:px;
    opacity: 0.8;
    letter-spacing: 4px;
    font-family: "Montserrat";
}
.year{
    font-family: "Montserrat";
    font-weight: 600;
    top: -10px;
    display:inline-block;
    height: 10px;
    width: 6px;
    margin-left: 12%;
    margin-right: 8%;
    text-align: left;
}
.exps{
    margin-top: 10px;
    position: absolute;
    width:100%;
    height: 0px;
    color:white;
    font-weight: 100;
    font-size:17px;
    line-height: 1.6;
    outline-style:none;
    outline-width:0px;
    letter-spacing: 1.2px;
    -webkit-font-smoothing: antialiased;
}
.exp{
    font-family: "Karla-Regular";
    float:left;
    top: -10px;
    display: inline-block;
    height: 10px;
    width: 13px;
    margin-left: 12%;
    margin-right: 8%;
    font-style:normal;
    white-space: nowrap;

}
.phone-timeline-text{
    margin-top: 7vh;
    margin-bottom: 40px;
    width: 100vw;
    height:21vh;  
}
.PTT{
    position: absolute;
    margin: 0px;
    min-width: 50%;
    height: 40px;
    display: inline-block;
}
.ptt2{
    left:50vw;
}
.ptt3{
    transform: translateY(10vh)
}
.ptt4{
    left:50vw;
    transform: translateY(10vh)
}
.PTT-title{
    position:relative;
    text-align: center;
    color:#140f30;
    font-weight: 600;
    font-size:12px;
    letter-spacing: 2px;
    font-family: "Montserrat";
    margin-bottom: 10px;
    
}
.PTT-context{
    font-family: "Karla-Regular";
    text-align: center;
    left: 30%;
    color:white;
    font-weight: 100;
    font-size:13px;
    line-height: 1.2;
    letter-spacing: 1px;
}
.proTitle{
    position:absolute;
    color:#FFF;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size:60px;
}
.projects{
    height: 1400px;
    width: 100%;
    position: relative; 
}
.proside{
    z-index:0;
    position: absolute;
    width:22%;
    height:1400px;
    right:0;
    border-width: 0;
    background-color: #4EA3A8;
}
.pros-container{
    position: absolute; 
    z-index:0;
    padding:30px 30px 30px 60px;
    height: 1400px;
    background-color: #F3F3F3;
    width: 78%;
    
}
.bg{
    z-index: -2;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-size:cover;                    
    background-repeat:no-repeat;
    background-position: center center; 
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
    transition: -webkit-filter .5s,filter .5s, opacity .3s ;
    
}
.bg:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
}

.item{
    overflow: hidden;
    position: relative;
    z-index: -1;
    display: inline;
    width: calc((100% - 0px)/2);
    height:25%;
    background-color:grey;
    float:left;
    cursor:pointer;
    text-align: left;
    transition: filter .5s, opacity .5s;

    
}
.item:hover{
    box-shadow: 0px 0px 25px 3px grey;
    z-index: 2;
}

.phone-item-year{
    position: absolute;
    display: none;
} 
#bottom{
/*    transform: translateY(56px);*/
/*    bottom:0;*/
    position: relative;
    width: 100%;
    height: 56px;
    background-color: #140F30;
    opacity: 0.99;
}
.contact{
    float:left;
    color:#FFF;
    font-weight: regular;
    position: absolute;
    bottom:20px;
    left:30px;
    font-family: "Montserrat:600",sans-serif;
}
#EMAIL{
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: 600;
    
}
#email{
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-bottom: 25px;
}
#CALL{
    font-size:18px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: 600;
}
#call{
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
}
.icons2{
    list-style-type: none;
/*    border-radius: 50%;*/
    text-align: center;
    position: relative;
    display: inline-block;
    margin-right: 45px;
    cursor: pointer;   
}
.pro-info{
    float:left;
    position:relative;
    top:20px;
    margin-left: 30px;
    opacity: 1;
    height: 20vh;
}

.contet-text{
    opacity: 1;
}
.contet-text.change{
    animation: info-show 0.5s ease forwards; 
}

@keyframes info-show{
        0%{opacity: 1}
        45%{opacity: 0}
        50%{opacity: 0}
        100%{opacity: 1}
}
.pro-infotitle{
    font-family: "Montserrat:600",sans-serif;
    color:#FF9681;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.8px;
    margin-top: 30px;
    margin-bottom: 10px;
}

#year{
    font-size:20px;
    font-weight: bold;
    letter-spacing: 1.3px;
    color: white;
    width: auto;
    height: auto;
}

#name{
    font-size:36px;
    font-weight:100;
    letter-spacing: 0px;
    color: white;
    max-width: 225px;
}

#fields{
    font-size:20px;
    letter-spacing: 0.3px;
    color: white;
    font-family: Karla-Regular;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 23px;
}
.item-ipad-side{
    display:none;
    filter: grayscale(0%);
}
#back{
    height: auto;
    overflow: hidden;
    width: 80px;
}
.scan{
    position: relative;
    display: inline-block;
    overflow:hidden;
    color: white;
}
.scan.active:before{
    content:'';
    position: absolute;
    top:0%;
    left: -101%;
    width: 120%;
    height:105%;
    background:white;
    z-index: 10;
    animation: textback-move 3s ease forwards;  
}

.scan-top{
    position: relative;
    display: inline-block;
    overflow:hidden;
/*    color: #4EA3A8;*/
}
.icons-back{
     left:-2px;
     top:34px;
     background-color: #4EA3A8;
     content: '';
     position: absolute;
     width: 110%;
     height: 100%;
     transition: top .4s;
     transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.icons-back.active{
     top:-34px;
     transition: top .4s;
     transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.item p{
        position: relative;
        top:70%;
        font-size: 25px;
        font-weight: bold;
        width: auto;
        display: inline-block;
        color: white;
        transition: opacity 0.5s, top 0.5s;
        opacity: 0;
        pointer-events: none;
}

    .item p.active{
        top:80%;
        opacity: 1;
}

.white{
    background-color: white;
}

@keyframes textback-move{
        0%{left: -121%;}
        25%{left: 101%;}
        50%{left: 101%;}
        100%{left: 101%;}
}
@media only screen and (min-width : 320px) and (max-width : 767px) {
    #homepage-sideBG{
        display: none;
    }
    #logomain-svg{
        display: none;
    }    
    .menubutton{
        display: none;     
    }
    .arrow svg{
        width:20px;
        height:10px;
        margin-left: -5px;
    }    
    .portrait-box{
        width: 100vw;
        box-shadow: none;
        top:0;
        bottom:auto;
        left:0;
        right:0;
        height:46vh;
        animation:cover-move2 4s ease forwards;
    }
    .homepage-text{
        left:30px;
        top: 54vh;
        width:auto;
        right:30px;
    }
    .homepage-text .title{
        margin-left:-2px;
        font-size: 3em;
    }
    .personal-title{
        margin-top: 10px;
        font-size: 15px;
        color: #140F30;
    }
    .homepage-text .context p{
        width: 100%;
        font-size: 1em;
        margin-top: 0px;
        margin-bottom: 10px;
        letter-spacing: 1.1px;
    }
    .HPB{
        font-size:0.7em;
        margin-right: 9px;
        padding:1.6vh 8vw;
        letter-spacing: 1px;
        margin-top: 3vh;
        border:1.5px solid #140F30;  
    }
    .social{
        display: none;
    } 
    #menuback{
        display:block;
        opacity: 1;
        background-color: #4EA3A8;
    }
    .pro-menu #logomain-svg{
        display: block;
        position:fixed;
        cursor:pointer;
        z-index: 2;
        margin-left: 30px;
        margin-top: 12px
    }
    .menubutton2{
        display: inline-block;    
    }
    .timelinepage{
        display: none;
    }
    .gap{
        display:none;    
    }
    .phone-timeline{
        height: 20vh;
        width: 100vw;
        display: table;
        background-color: #FF9681;
        overflow: hidden;
    }
    .proside{
        display: none;
    }
    .projects{
        height:1980px;
    }
    .pros-container{
        width: 100%;
        padding:15px;
        height:100%;
    }
    .item{
        overflow:visible;
        margin-top: 5px;
        margin-bottom: 35px;
        width:calc((100% - 0px));
        height:205px;
    }
    .item:hover{
        box-shadow: none;
    }
    .item p{
        top:102%;
        float:left;
        font-size: 15px;
        font-weight: bold;
        width:calc((100vw - 30px)/2);
        display: inline-block;
        color: #140F30;
        opacity: 1;
    }
    .item p.active{
        top:102%;
    }
    .phone-item-year{
        top:26vh;
        display: inline-block;
        float: right;
        text-align: right;
        color:#FF9681 !important; 
        font-weight: 600;
        font-size:12px !important;
        letter-spacing: 4px;
        font-family: "Montserrat";
    }
    #bottom{
         height: 30px;
    
    }
    .menu{
         width:100vw;   
    }
    .menu-text{
         transform: translateY(-150px)   
    } 
    .bg{
        transition: none;
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        opacity: 1;
    }
    .bg:hover{
        height:100%;
        width:100%;
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        opacity: 1;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 812px) and (orientation: landscape) {
    .sitecontent{
        display: none;
    }
    #notsupport{
        z-index: 10;
        position: relative;
        display: block;
        left: 0;
        top: 0;
        height:100vh;
    }
    #notsupport p{
        position: absolute;
        margin: 0;
        top:50%;
        left:50%;
        display: inline-block;
        vertical-align: middle;
        font-size:2em;
        transform: translate(-50%, -50%);
    }
    .homepage{
        display: none;
    }
    .phone-timeline{
        display: none;
    }
    .timelinepage{
        display: none;
    }
    .gap{
        display: none;
    }
    .projects{
        display: none;
    }
}
@media only screen and (min-width : 768px) and (max-width : 1024px)  {
    .homepage-text{
        left:40px;
        top: calc(50% - 192px);
        
    }
    .context{
        font-size: 0.8em;
    }
    .HPB{
        font-size:0.8em;
    }
    .NotMoving{
        margin-top:0px;
        padding-left: 40px
    }
    #logomain-svg{
        margin-left: 0;
        margin-top: 30px;
    }
    .menubutton{
        top:55px;
        right:30px;
    }
    .portrait-box{
        width: 50%;
        box-shadow: none;
        top:0;
        bottom:auto;
        left:50%;
        right:0;
        height:100%;
        animation:cover-move 4s ease forwards;
    }
    #homepage-sideBG{
        display: none;
    }
    .context{
        margin-bottom: 10px;
    }
    .HPB{
        
     display: block;
     margin-right: 100px;
     margin-bottom: 20px;
    }
    .social{
        left:35px;
    }
    .exps{
        font-size: 12px;
    }
    .horizonal{
        transform:translateY(-20px)
    }
    .proside{
        display: none;
    }
    .projects{
        height:2540px;
    }
    .pros-container{
        width: 100%;
        padding:30px;
        height:100%;
    }
    .bg{
        transition: none;
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        opacity: 1;
    }
    .bg:hover{
        height:100%;
        width:100%;
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        opacity: 1;
    }
    .item{
        margin-top: 5px;
        margin-bottom: 5px;
        width:calc((100vw - 60px));
        height:300px;
        overflow:auto;

    }
    .item:hover{
        box-shadow: none;
    }
    .item p{
       display:none;   
    }
    .item-ipad-side{
        display: block;
        height: 100%;
        width: 230px;
        background-color: #4EA3A8;
        position: absolute;
        right:0;
        filter: grayscale(0%);
    }
    .item-ipad-side{
        position: absolute;
    }
    .pro-ipad-info{
        float:left;
        position:relative;
        top:50%;
        margin-left: 30px;
        opacity: 1;
        transform:translateY(-104px)
    }
    .pro-ipad-infotitle{
        display: inline-block;
        font-family: "Montserrat:600",sans-serif;
        color:#FF9681;
        font-size: 0.2em;
        font-weight: 600;
        letter-spacing: 0.1em;
        margin-top: 2em;
        margin-bottom: 1em;
    }
    #pad-fields{
        font-size:0.9em !important;
        letter-spacing: 0.04em;
        color: white;
        font-family: Karla-Regular;
        color: #FFFFFF;
        line-height: 1.2em;
    }
    #year{
        font-size:1em;
    }
    #name{
        font-size:1.5em;
    }
    #fields{
        font-size:1em;
    }
    .year{
        font-size: 12px;
    }
/*
    .exp{
        width: 17%;
        margin-right: 7.4%;
    }
*/
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape)  {
    .HPB{
    display: inline-block;
     margin-right: 20px;
    }
    .context{
        margin-bottom: 0px;
    }
    
}
@media only screen and (min-width : 1025px){
    .item p{
        left: 30px;
    }
    .phone-item-year.active{
        display: none;
    }

}

